<h1>グループへ参加する</h1>
<%= form_with url: join_path, method: :post do |f| %>
<table class="table">
  <tbody>
    <tr>
      <th>グループID</th>
      <th><%= f.text_field :group_code %></th>
    </tr>
    <tr>
      <th>グループパスワード</th>
      <th><%= f.password_field :password %></th>
    </tr>
  </tbody>
</table>

<%= f.submit 'グループへ参加する', class:"btn btn-success" %>
<% end %>
