<h1>グループ情報</h1>
<p>グループ名</p>
<p>グループID</p>
<p>グループメンバー</p>
<table>
  <thead>
    <tr>
      <th>NO</th>
      <th>メンバー名</th>
      <th>メンバーカラー</th>
    </tr>
  </thead>
  <tbody>
    <% @group_members.each do |member| %>
    <tr>
      <td></td>
    </tr>
  </tbody>
</table>
