<h1>グループ情報</h1>

<table>
  <tbody>
    <tr>
      <th>グループ名</th>
      <th><%= @group.group_name %></th>
    </tr>
    <tr>
      <th>グループID</th>
      <th><%= @group.group_code %></th>
    </tr>
    <tr>
      <th>グループメンバー</th>
      <th>
        <% @members.each do |member| %>
        <%= member.name %>
        <% end %>
      </th>
    </tr>

  </tbody>
</table>
