<h2 class="text-center">グループ情報</h2>

<table class="table">
  <tbody>
    <tr>
      <th class="table-active"><div class="text-center">グループ名</div></th>
      <th><%= @group.group_name %></th>
    </tr>
    <tr>
      <th class="table-active"><div class="text-center">グループID</div></th>
      <th><%= @group.group_code %></th>
    </tr>
    <tr>
      <th class="table-active"><div class="text-center">グループメンバー</div></th>
      <th>
        <% @members.each do |member| %>
        <%= member.name %>
        <% end %>
      </th>
    </tr>

  </tbody>
</table>
