<h1>GOHAN DOSURUへようこそ</h1>
<p>本サイトは、日々のご飯の予定を</br>
登録したgroupのメンバーと一緒に</br>
共有できるアプリです。</br>
まずはメンバー登録をしましょう！</p>


<%= link_to 'メンバー登録をする', new_member_registration_path %>
<%= link_to 'メンバーログインをする', new_member_session_path %>