<!--自分のmember登録情報を確認、編集するページ-->

<h1>マイページ</h1>

<table class="table">
  <tbody>
  <tr>
    <th>あなたの名前</th>
    <th><%= @member.name %></th>
    <th></th>
  </tr>
  <tr>
    <th>所属グループ</th>
    <th><%= @member.group_name %></th>
    <th></th>
  </tr>
  <tr>
    <th>メンバーカラー</th>
    <th></th>
    <th></th>
  </tr>
  </tbody>
</table>