<!--自分のmember登録情報を確認、編集するページ-->

<h2 class="text-center">マイページ</h2>

<table class="table">
  <tbody>
  <tr>
    <th class="table-active"><div class="text-center">あなたの名前</div></th>
    <th><%= current_member.name %></th>
    <th></th>
  </tr>
  <tr>
    <th class="table-active"><div class="text-center">所属グループ</div></th>
    <th><%= @group.group_name %></th>
    <th></th>
  </tr>
  <tr>
    <th class="table-active"><div class="text-center">メールアドレス</div></th>
    <th><%= current_member.email %></th>
    <th></th>
  </tr>
  </tbody>
</table>